@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 16, 16, 16;
  --background-end-rgb: 30, 30, 30;
}

body {
  color: whitesmoke;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

input {
  color: rgb(26, 25, 25)
}

h1 {
  font: 700 3rem/1.2 "Roboto", sans-serif, bold;
  padding: 2rem;
}
